@tailwind base;
@tailwind components;
@tailwind utilities;

.underlineAni {
  position: relative;
  color: #000;
  text-decoration: none;
}

.underlineAni:hover {
  color: #994e4f;
}

.underlineAni::before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #994e4f;
  transform: scaleX(0);
  transition: transform 0.4s ease;
}

.underlineAni:hover::before {
  transform: scaleX(1);
}

/* HOVER ON LINK TO OPEN DROP MENU */
.parent:hover .child {
  display: block;
}

.child {
  z-index: 10;
  transition: all 0.5s ease-in-out 0.5s;
}
